<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>User_Register_Action</servlet-name>
        <servlet-class>pack.User_Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Owner_Register_Action</servlet-name>
        <servlet-class>pack.Owner_Register_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Action</servlet-name>
        <servlet-class>pack.Login_Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_Owner_Login</servlet-name>
        <servlet-class>pack.Data_Owner_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_User_Login</servlet-name>
        <servlet-class>pack.Data_User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>pack.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User_Register_Action</servlet-name>
        <url-pattern>/User_Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Owner_Register_Action</servlet-name>
        <url-pattern>/Owner_Register_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Action</servlet-name>
        <url-pattern>/Login_Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_Owner_Login</servlet-name>
        <url-pattern>/Data_Owner_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_User_Login</servlet-name>
        <url-pattern>/Data_User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
